@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.part-1{
    font-family: "Inter", sans-serif;
}
.part-1{
    max-width: 692px;
} 


.info-1-title {
    color: #37393F;
    font-size: 25px;
    font-weight: 600;
}
.info-paragraf {
    color: #7D7D7D;
}
.info-2-title {
    color: #6B77E5;
    font-size: 20px;
    font-weight: 700;
}


.part-2{
    font-family: "Poppins", sans-serif;
}
.part-2{
    max-width: 830px;
} 
h1{
    color: #37393F;
    font-size: 25px;
    font-weight: 600;
}
.main-info{
    color: #7D7D7D;
}

